asusctltray &
udiskie &
ibus-daemon -drx &
flameshot &
unclutter &
xclip &
picom --experimental-backends &
xfce4-power-manager &
lxqt-policykit-agent &
xrdb merge ~/.Xresources &
autorandr --change &
kitty -1 --start-as=minimized &
# vim:ft=bash
